@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  @include font;
  margin: 0;
}

h1 {
  text-align: center;
}

div:not(.calendar) {
  @include day-container;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: pink;
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, $container-day-width);
  grid-gap: 1px;
  justify-content: center;

  &-29 div:nth-child(31),
  &-30 div:nth-child(31),
  &-29 div:nth-child(30),
  &-28 div:nth-child(31),
  &-28 div:nth-child(30),
  &-28 div:nth-child(29) {
    display: none;
  }
}

@each $days, $day-start in $week {
  .calendar-#{$days} {
    div:first-child {
      grid-column-start: $day-start;
    }
  }
}

@for $i from 1 through 31 {
  .calendar {
    div:nth-child(#{$i}) {
      &::after {
        content: "#{$i}";
      }
    }
  }
}
